
  <!DOCTYPE html>
  <html>
  <head>
  <meta charset="gbk" />
  <title>{{zhangjiename}}宋君顾小说网</title>
  <meta name="keywords" content="{{zhangjiename}}"/>
  <meta name="description" content="{{zhangjiename}}"/>
  <meta name="MobileOptimized" content="240"/>
  <meta name="applicable-device" content="mobile"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <meta http-equiv="Cache-Control" content="max-age=0" />
  <meta http-equiv="Cache-Control" content="no-transform " />
  <link rel="stylesheet" href="/static/css/style.css" type="text/css"/>
  <script src="//libs.baidu.com/jquery/1.4.2/jquery.min.js"></script>
  <script language="javascript" src="/static/js/common.js"></script>
  </head>
  <body>
  <div id="novelbody" class="nr_layout">
      <div class="head">
          <div class="return"><a href="javascript:history.go(-1);">返回</a></div>
          <div class="nav_name"><h1>{{name}}</h1></div>
          <div class="homepage"><a href="/">首页</a></div>
      </div>
      <div class="nr_function">
          <div class="nr_function1">
              <div id="chapterSet" class="left">
                  <p id="showSet">设置</p>
                  <p><a id="huyandiv" onclick="nr_setbg('huyan')">护眼</a></p>
                  <p><a id="lightdiv" onclick="nr_setbg('light')">关灯</a></p>
                  <p><a id="fontbig" onclick="nr_setbg('big')">大</a></p>
                  <p><a id="fontmiddle" onclick="nr_setbg('middle')">中</a></p>
                  <p><a id="fontsmall" onclick="nr_setbg('small')">小</a></p>
                  <div class="clear"></div>
          </div>
          </div>
          <h1>{{zhangjiename}}</h1>
          <div class="page_chapter1">
              <ul>
                  <li><a href="{{shang}}" class="p1">{{shanghave}}</a></li>
                  <li><a href="{{mulu}}" class="p3">回目录</a></li>
                  <li><a href="{{next}}" class="p4">{{nexthave}}</a></li>
              </ul>
          </div>
          <div id="novelcontent" class="novelcontent">{{zhenwen|safe}}</div>
                  <script>skin_middle();</script>
          <div class="page_chapter">
              <ul>
                  <li><a href="{{shang}}" class="p1">{{shanghave}}</a></li>
                  <li><a href="#" class="p2" rel="#">待开发</a></li>
                  <li><a href="{{mulu}}" class="p3">回目录</a></li>
                  <li><a href="{{next}}" class="p4">{{nexthave}}</a></li>
              </ul>
          </div>
      </div>
  <script>skin_bottom();</script>
      <div class="footer">
  <p><a href="/">首 页</a> | <a href="#">待开发</a> | <a href="#">待开发</a> | <a href="#top" rel="nofollow">↑返回顶部</a></p>
  <script>skin_xuanfu();</script></div>
  <div style="display:none">
  <script>
  (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
          bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else {
          bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
  })();
  </script>
  <script src="https://s22.cnzz.com/z_stat.php?id=1271465116&web_id=1271465116" language="JavaScript"></script>
  </div>
  </div>
  </body>
  <script src="/static/js//yuedu.js"></script>
  </html>